/gen
/bin
/.settings
/.idea
/.project
/.classpath
/sign.properties
/build
/buildSrc/build
/buildSrc/.gradle
/local.properties
/android_keystore
/*.iml
/configs/*/data
/.gradle
/assets/*.map
/assets/*.ofm
.DS_Store